<div class="row">
  <div class="col-md-6">
    <h1>New Company</h1>
      <%= render 'form' %>
  </div>
  <div class="col-md-6">
    <h1>10 Companies with more claims</h1>
      <%= bar_chart @Companies_most_ten_claims %>
  </div>
</div>
<div class="row">
  <h1>Listing Companies</h1>

  <table class="table" id="companies">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= render @companies %>
    </tbody>
  </table>
</div>
<%= render 'modal_edit' %>
